<head>
    <title>planDeis!</title>
</head>

<template name="layout">
    <div class="side-nav nav-stacked">
        <ul>
            <li>
                <a href="{{pathFor 'home'}}">
                    <span class="glyphicon glyphicon-search"></span><b>Search</b>
                </a>
            </li>
            <li>
                <a href="{{pathFor 'schedule'}}">
                    <span class="glyphicon glyphicon-calendar"></span><b>Schedule</b>
                </a>
            </li>
            <li>
                <a href="{{pathFor 'masterMajorPlan'}}">
                    <span class="glyphicon glyphicon-list-alt"></span><b>Major</b>
                </a>
            </li>
            {{#if currentUser}}
                {{#if existsProfile}}
                {{> profileButton}}
                <li>
                    <a class="js-log-out">
                        <span class="glyphicon glyphicon-log-out"></span><b>Log out</b>
                    </a>
                </li>
                {{else}}
                    {{createAccount}}
                    <div class="ui active inline loader"></div>
                {{/if}}
            {{else}}
            <li>
                <a class="js-login">
                    <span class="glyphicon glyphicon-log-in"></span><b>Sign in</b>
                </a>
            </li>
            <!-- <li><i class="sign in huge icon js-login"></i></li> -->
            {{/if}}
            <li style="padding-top: 300px;">
              <li style="font-size: 10px; overflow: hidden; white-space: nowrap;">
                <a href="{{pathFor 'terms'}}">
                    <b>Terms of Service</b>
                </a>
            </li>
            <li style="font-size: 10px; overflow: hidden; white-space: nowrap;">
                <a href="{{pathFor 'privacy'}}">
                    <b>Privacy Policy</b>
                </a>
            </li>
            <li style="font-size: 10px; overflow: hidden; white-space: nowrap;">
                <a href="mailto:admin@plandeis.com?subject=Brandeis University PlanDeis">
                    <b>Contact Us</b>
                </a>
            </li>
          </li>
        </ul>
        <!-- {{> loginButtons}} -->
    </div>
    <div class="move">
        {{> yield}}
    </div>
</template>

<template name="profileButton">
  <li>
      <!-- <a href="{{pathFor 'myProfile'}}"> -->
      <a>
        <div class="ui dropdown">
          <!-- <div class="text">Profile</div> -->
          <span class="text glyphicon glyphicon-user"></span>
          <!-- <b>Major</b> -->
          <div class="menu">
            <a class="item" href="/myMajorPlan">Major Plan</a>
            <a class="item" href="/schedule">Schedule</a>
            <a class="item" href="/myWishlist">Wishlist</a>
          </div>
        </div>
      </a>
  </li>
</template>
