<head>
    <title>planDeis!</title>
</head>

<template name="layout">
    <div class="side-nav nav-stacked">
        <ul>
            <li>
                <a href="{{pathFor 'home'}}">
                    <span class="glyphicon glyphicon-search"></span><b>Search</b>
                </a>
            </li>
            <li>
                <a href="{{pathFor 'schedule'}}">
                    <span class="glyphicon glyphicon-calendar"></span><b>Schedule</b>
                </a>
            </li>
            <li>
                <a href="{{pathFor 'masterMajorPlan'}}">
                    <span class="glyphicon glyphicon-list-alt"></span><b>Major</b>
                </a>
            </li>
            {{#if currentUser}}
                {{#if existsProfile}}
                <li>
                    <a href="{{pathFor 'myProfile'}}">
                        <span class="glyphicon glyphicon-user"></span><b>Profile</b>
                    </a>
                </li>
                <li>
                    <a class="js-log-out">
                        <span class="glyphicon glyphicon-log-out"></span><b>Log out</b>
                    </a>
                </li>
                {{else}}
                    {{createAccount}}
                    <div class="ui active inline loader"></div>
                {{/if}}
            {{else}}
            <li>
                <a class="js-login">
                    <span class="glyphicon glyphicon-log-in"></span><b>Sign in</b>
                </a>
            </li>
            <!-- <li><i class="sign in huge icon js-login"></i></li> -->
            {{/if}}
        </ul>
        <!-- {{> loginButtons}} -->
    </div>
    <div class="move">
        {{> yield}}
    </div>
</template>
