h1 {
    font-size: 125px;
    font-weight: 300;
    letter-spacing: -1px;
    /*line-height: 45px;*/
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    color: #f2f2f2;
    text-align: center;
    /*background-color: blue;*/
    /*margin-top: 200px;*/
    position: relative;
}
body {
    background-image: url("images/public-domain-images-free-stock-photos-002.jpg");
}
#searchBar {
    position: relative;
    margin: auto;
    width: 350px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/1466678038_icon-111-search.png');
    background-size: 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 14px 20px 14px 40px;
    /*-webkit-transition: width .4s ease-in-out;*/
    transition: width .4s ease-in-out;
    outline: none;
}
#searchBar:hover {
    width: 75%;
}
.searchForm {
    text-align: center;
    /*top: 50px;*/
    position: relative;
    /*line-height: 100px;*/
}
.searchContainer {
    height: 400px;
    width: 60%;
    position: relative;
    margin: auto;
    /*background-color: red;*/
}
.searchContainer form {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 100px;
}

/*#be_back {
  font-size: 40px;
  letter-spacing: 0px;
  line-height: 250px;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  color: #4C4C4C;
  text-align: center;
}

#busy_updating {
  font-size: 15px;
  letter-spacing: 0px;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
  color: #4C4C4C;
  text-align: center;
}*/

.nav {
    font-size: 25px;
    letter-spacing: 0px;
    line-height: px;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    color: #4C4C4C;
    box-shadow: 0 8px 6px -6px #999;
}

.nav ul li {
  list-style-type: none;
}

a {
  color: #4C4C4C;
}

a:hover {
  text-decoration: none;
  color: white;
}