#siteName {
    font-size: 125px;
    font-weight: 300;
    letter-spacing: -1px;
    /*line-height: 45px;*/
    font-family: Calibri, Trebuchet, sans-serif;
    color: #0099ff;
    text-align: center;
    /*background-color: blue;*/
    /*margin-top: 200px;*/
    position: relative;
}

body {
    /*background-image: url("images/public-domain-images-free-stock-photos-002.jpg");*/
    background-color: #f2f2f2;
}

#searchBar {
    position: relative;
    margin: auto;
    width: 350px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/1466678038_icon-111-search.png');
    background-size: 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 14px 20px 14px 40px;
    /*-webkit-transition: width .4s ease-in-out;*/
    transition: width .4s ease-in-out;
    outline: none;
}

#searchBar:hover {
    width: 500px;
}

#searchForm {
    text-align: center;
    /*top: 50px;*/
    position: relative;
    /*line-height: 100px;*/
}
.searchContainer {
    /*height: 400px;*/
    /*width: 60%;*/
    /*position: relative;*/
    /*margin: auto;*/
    /*background-color: red;*/
}
.searchContainer form {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 100px;
}

.overlay {
    position: fixed;
    display: none;
    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, 0.7);
    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.ui.container.popup {
    position: absolute;
    min-width: 450px;
    /*min-height: 450px;*/
    display: none;
    /*background-color: white;*/
    text-align: left;
    margin-left: 0 !important;
    margin-right: 0 !important;
    /*left: -55;*/
    z-index: 1000!important;
}
.ui.popup:before {
    opacity: 0;
}

.js-result-table:hover tbody tr {
    cursor: pointer;
    cursor: hand;
}

.js-result-table:hover tbody tr td[class="description"] {
    cursor: default;
}