#siteName {
    font-size: 125px;
    font-weight: 300;
    letter-spacing: -1px;
    /*line-height: 45px;*/
    font-family: Calibri, Trebuchet, sans-serif;
    color: #0099ff;
    text-align: center;
    /*background-color: blue;*/
    /*margin-top: 200px;*/
    position: relative;
}

body {
    /*background-image: url("images/public-domain-images-free-stock-photos-002.jpg");*/
    background-color: #f2f2f2;
}

#searchBar {
    position: relative;
    margin: auto;
    width: 350px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/1466678038_icon-111-search.png');
    background-size: 30px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 14px 20px 14px 40px;
    /*-webkit-transition: width .4s ease-in-out;*/
    transition: width .4s ease-in-out;
    outline: none;
}

#searchBar:hover {
    width: 500px;
}

#searchForm {
    text-align: center;
    /*top: 50px;*/
    position: relative;
    /*line-height: 100px;*/
}
.searchContainer {
    /*height: 400px;*/
    /*width: 60%;*/
    /*position: relative;*/
    /*margin: auto;*/
    /*background-color: red;*/
}
.searchContainer form {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 100px;
}

.overlay {
    position: fixed;
    display: none;
    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, 0.7);
    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.ui.container.popup {
    position: absolute;
    min-width: 500px;
    min-height: 500px;
    display: none;
    /*background-color: white;*/
    text-align: left;
    /* center it ? */
    left: 0;
    right: 5%;
    z-index: 1000!important;
}
.ui.popup:before {
    opacity: 0;
}

/*
******************************************************************************
*/

@-webkit-keyframes listen {
    0% {
        -webkit-transform: scale(.5);
    }
    25% {
        -webkit-transform: scale(.25);
    }
    35% {
        -webkit-transform: scale(.10);
    }
    65% {
        -webkit-transform: scale(.35);
    }
    80% {
        -webkit-transform: scale(.5);
    }
    100% {
        -webkit-transform: scale(.25);
    }
}
@-moz-keyframes listen {
    0% {
        -moz-transform: scale(.5);
    }
    25% {
        -moz-transform: scale(.25);
    }
    35% {
        -moz-transform: scale(.10);
    }
    65% {
        -moz-transform: scale(.35);
    }
    80% {
        -moz-transform: scale(.5);
    }
    100% {
        -moz-transform: scale(.25);
    }
}
@-ms-keyframes listen {
    0% {
        -ms-transform: scale(.5);
    }
    25% {
        -ms-transform: scale(.25);
    }
    35% {
        -ms-transform: scale(.10);
    }
    65% {
        -ms-transform: scale(.35);
    }
    80% {
        -ms-transform: scale(.5);
    }
    100% {
        -ms-transform: scale(.25);
    }
}
@-o-keyframes listen {
    0% {
        -o-transform: scale(.5);
    }
    25% {
        -o-transform: scale(.25);
    }
    35% {
        -o-transform: scale(.10);
    }
    65% {
        -o-transform: scale(.35);
    }
    80% {
        -o-transform: scale(.5);
    }
    100% {
        -o-transform: scale(.25);
    }
}
@keyframes listen {
    0% {
        transform: scale(.5);
    }
    25% {
        transform: scale(.25);
    }
    35% {
        transform: scale(.10);
    }
    65% {
        transform: scale(.35);
    }
    80% {
        transform: scale(.5);
    }
    100% {
        transform: scale(.25);
    }
}
.mic {
    position: fixed;
    top: -430px;
    left: -191px;
    margin: 0px;
    top: 0px;
    -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -ms-transform: scale(.2);
    -o-transform: scale(.2);
    transform: scale(.2);
    z-index: 11;
    shape-rendering: auto;
}
.shadow {
    -moz-filter: drop-shadow( 8px 8px 8px #888888);
    -webkit-filter: drop-shadow( 8px 8px 8px #888888);
    -ms-filter: drop-shadow( 8px 8px 8px #888888);
    -o-filter: drop-shadow( 8px 8px 8px #888888);
    filter: drop-shadow( 8px 8px 8px #888888);
}
.grey-circle {
    position: fixed;
    top: -440px;
    left: -200px;
    pointer-events: none;
    -webkit-animation-name: listen;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: listen;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: listen;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: listen;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    animation-name: listen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.blue-circle {
    position: fixed;
    top: -440px;
    left: -200px;
    z-index: 10;
    transform: scale(.25);
}
