#calendar {
	background-color: white;
}

.overlay-calendar {
    position:fixed;
    display:none; 

    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, 0.7);

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 9999!important;
}
.ui.container.popup-calendar {
    position: absolute;
    min-width: 450px;
    /*min-height: 300px;*/
    display: none;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    z-index: 10000!important;
}
.ui.popup-calendar:before {
    opacity: 0;
}

#sectionList .item:hover .plus.icon {
    display: block;
}

#sectionList .plus.icon {
    display: none;
}