#majorPlan_semester {
    padding-top: 25%;
}

.bulletin-overlay {
    position:fixed;
    display:none;

    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, 0.7);

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 9999!important;
}
.ui.container.popup-bulletin {
    /*position: absolute;*/
    /*min-width: 500px;*/
    /*min-height: 500px;*/
    display: none;
    background-color: white;
    text-align: left;
    position: absolute;
    /*margin: 0 auto;*/

    /* center it ? */
    left: 10%;
    top: -10%;

    z-index: 10000!important;
}

.ui.popup:before {
    opacity: 0;
}
